/* CSS will go here*/
body{
    margin: 20px;
    background-color: beige;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* width: 100%; */
}

#date-time{
    /* justify-self: flex-end; */
    font-style: oblique;
}

#logo{
    max-height: 100px;
}

#main-gif{
    width: 100%;
}

p{
    color: gray;
}